html
    head
        title Notes
        link(rel='stylesheet' href='/assets/stylesheets/reset.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" crossorigin="anonymous")
        link(rel='stylesheet' href='/assets/stylesheets/application.css')
    body(class='expand')
        block content

